<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UranusCoreEndpoint"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22963/Bayometric/BFSAPI/soap" binding="basicHttpBinding" bindingConfiguration="UranusCoreEndpoint" contract="tngServiceRefernce.UranusCore" name="UranusCoreEndpoint"/>
        </client>
    </system.serviceModel>
</configuration>
